@use '../../../styles//variables';
.button {
    position: relative;
    background-color: #0aa1e2;
    color: #fff;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    text-align: center;
    outline: 0;
    border-radius: 4px;
    padding: 8px 23px;
    font-size: variables.$primary-font-size;
    line-height: variables.$primary-line-height;
    font-weight: variables.$primary-font-weight;
    min-height: 42px;
    border: none;
    cursor: pointer;
    transition: .2s ease-in-out;
    &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        background: -o-linear-gradient(98deg, #0990cb 50%, transparent 50%);
        background: linear-gradient(-8deg, #0990cb 50%, transparent 50%);
        transition: .2s ease-in-out;
    }
    &:hover {
        &::before {
            opacity: 1;
        }
    }
    .button_name {
        z-index: 10;
        position: relative;
    }
}